<div class="menu">
    <button class="menu-button" (click)="navigateToMusic()">
      <span class="menu-button-text">Music</span>
      <img class="menu-button-image" src="assets/music.png" alt="Music">
    </button>
    <button class="menu-button" (click)="navigateToDiet()">
      <span class="menu-button-text">Diet</span>
      <img class="menu-button-image" src="assets/diet.png" alt="Diet">
    </button>
    <button class="menu-button" (click)="navigateToStats()">
      <span class="menu-button-text">Stats</span>
      <img class="menu-button-image" src="assets/stats.png" alt="Stats">
    </button>
</div>
  